<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Lucca Sabbatini</title>
        <link rel="shortcut icon" href="./public/assets/favicon.ico" type="image/x-icon">
        
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/classes.css">
        <link rel="stylesheet" href="/public/styles/modal.css">
    
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/src/views/index.html">Sobre</a>
                <a href="#">Aulas</a>

            </div>

        </header>
        
        <div class="wrapper">
            <h1>Aulas</h1>

        </div>

        <section class="cards">
            <div class="card">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/arAz2Ff8s88/maxresdefault.jpg" alt="Thumbnail do vídeo no YouTube">
    
                </div>
    
                <div class="card_content">
                    <p>Curso de Programação - Design Patterns</p>
    
                </div>
                
                <div class="card_info">
                    <p>12 min</p>
                    <p class="card_price">Free</p>
    
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/NBuBwv4gacs/maxresdefault.jpg" alt="Thumbnail do vídeo no YouTube">
    
                </div>
    
                <div class="card_content">
                    <p>Curso de Teoria Musical - O Braço do Violão</p>
    
                </div>
                
                <div class="card_info">
                    <p>15 min</p>
                    <p class="card_price">Free</p>
    
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/Wx_kugSemfY/maxresdefault.jpg" alt="Thumbnail do vídeo no YouTube">
    
                </div>
    
                <div class="card_content">
                    <p>Curso de Teoria Musical - Série Harmônica</p>
    
                </div>
                
                <div class="card_info">
                    <p>23 min</p>
                    <p class="card_price">Free</p>
    
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/lJROZv3y270/maxresdefault.jpg" alt="Thumbnail do vídeo no YouTube">
    
                </div>
    
                <div class="card_content">
                    <p>Curso de Equipamento - Sintetizadores</p>
    
                </div>
                
                <div class="card_info">
                    <p>17 min</p>
                    <p class="card_price">Free</p>
    
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/SlhsLK-lgUM/maxresdefault.jpg" alt="Thumbnail do vídeo no YouTube">
    
                </div>
    
                <div class="card_content">
                    <p>Curso de Equipamento - Equalização</p>
    
                </div>
                
                <div class="card_info">
                    <p>20 min</p>
                    <p class="card_price">Free</p>
    
                </div>

            </div>

            <div class="card">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/wNjLAI1IlUI/maxresdefault.jpg" alt="Thumbnail do vídeo no YouTube">
    
                </div>
    
                <div class="card_content">
                    <p>Curso de Skate - Passo-a-passo do Kickflip</p>
    
                </div>
                
                <div class="card_info">
                    <p>10 min</p>
                    <p class="card_price">Free</p>
    
                </div>

            </div>

        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i> 

                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>

                </div>

            </div>

        </div>

    <script src="/public/scripts/classes.js"></script>

    </body>

</html>