<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Lucca Sabbatini</title>
        <link rel="shortcut icon" href="./public/assets/favicon.ico" type="image/x-icon">
        
        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/home.css">
    
    </head>

    <body>
        <header>
            <div class="links">
                <a href="#">Sobre</a>
                <a href="/src/views/classes.html">Aulas</a>

            </div>

        </header>
        
        <div class="wrapper">
            <img src="https://scontent.fsdu5-1.fna.fbcdn.net/v/t1.0-9/71649416_2584197521639942_95456206499348480_o.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_eui2=AeH-6mbA-Gc_TiW4dAE_hOXxMH58idNzzAkwfnyJ03PMCcH6XUL9Imda0C4-_v0VM5Lz6WXuoNLSlIj4X6fWnEOC&_nc_ohc=0sVxxpbHJF8AX9S8ETV&_nc_ht=scontent.fsdu5-1.fna&oh=c6579d5e41c56d6b2ee13e4d0153b85d&oe=5F2A43F0" alt="Lucca Sabbatini">
            <h1>Lucca Sabbatini</h1>
            <h2>Estudante da Rocketseat</h2>
            <p>Graduando em Ciência da Computação na UFF-Niterói. Estudando sobre Desenvolvimento Web e no caminho para me tornar um Full-Stack Developer com a ajuda da <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a> e seus cursos.</p>

        </div>

        <div id="social" class="links">
            <a href="https://github.com/LuccaSabbatini" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/lucca-sabbatini-reid-rodrigues-a970781b0/" target="_blank">LinkedIn</a>
        
        </div>

    </body>

</html>